<!DOCTYPE html>
<html>
  <head>
    <title>Ice Cream!</title>
  </head>

  <body>
    <h1>Wow you like <%=flavor%> ice cream
      
      <% if (topping) { %>
      with <%=topping%> 
      <%} %>
      too?! That's my favorite!</h1>  
  </body>

</html>